.searchbox {
    border: 2px solid #047777;
    max-width: 33%;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.searchInput {
    border: 2px solid #2dbdb0;
    width: calc(100% - 20px);
    border-radius: 8px;
    padding: 8px;
    background-color: #1e8178;
}

.searchIcon {
    font-size: 28px;
    margin-left: 5px;
    text-align: center;
}

.searchbox p {
    font-size: 16px;
    font-weight: bold;
    color: #06c1c1;
    text-align: center;
    margin-bottom: 8px;

}