.container {
    border: 2px solid #047777;
    border-radius: 4px;
    padding: 20px;
    /*height: 100%;*/
    /*position: relative;*/
    /*min-height: 80px;*/
}

.container button {
    padding: 10px;
    border: 2px solid #e11212;
    border-radius: 4px;
    width: 50%;
    background-color: #970606;
    color: #fff;
    cursor: pointer;
    /*position: absolute;*/
    /*right: 6px;*/
    /*bottom: 6px;*/
}

.container h3 {
    margin-bottom: 8px;
}

.container p {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 8px;
}